---
import InputGroup from "../InputGroup.astro";
import SelectGroup from "./SelectGroup.astro";
---

<div class="space-y-4 animate-fade-in pb-10">
	<h3
		class="text-xs font-bold text-blue-400 uppercase border-b border-white/10 pb-1"
	>
		2.2 Data Identitas Pegawai
	</h3>

	<InputGroup
		label="Nama Lengkap (Sesuai KTP)"
		name="nama"
		model="form.pegawai.nama"
	/>

	<div class="grid grid-cols-2 gap-3">
		<InputGroup label="NIP" name="nip" model="form.pegawai.nip" />
		<InputGroup label="NUPTK / NIK" name="nuptk" model="form.pegawai.nuptk" />
	</div>

	<div class="grid grid-cols-2 gap-3">
		<SelectGroup
			label="Status Kepegawaian"
			name="stts"
			model="form.pegawai.jenis"
			options={[
				{ val: "PNS", label: "PNS" },
				{ val: "PPPK", label: "PPPK" },
				{ val: "Honorer", label: "Honorer" },
				{ val: "GTT", label: "GTT (Guru Tidak Tetap)" },
				{ val: "PTT", label: "PTT (Pegawai Tidak Tetap)" },
				{ val: "Guru", label: "Guru" },
			]}
		/>
		<InputGroup
			label="Pangkat/Golongan"
			name="gol"
			model="form.pegawai.golongan"
			placeholder="III/a"
		/>
	</div>

	<SelectGroup
		label="Jabatan"
		name="jab"
		model="form.pegawai.jabatan"
		options={[
			{ val: "Guru Ahli Pertama", label: "Guru Ahli Pertama" },
			{ val: "Guru Ahli Muda", label: "Guru Ahli Muda" },
			{ val: "Guru Ahli Madya", label: "Guru Ahli Madya" },
			{ val: "Guru Ahli Utama", label: "Guru Ahli Utama" },
			{ val: "Kepala Sekolah", label: "Kepala Sekolah" },
			{ val: "Wakil Kepala Sekolah", label: "Wakil Kepala Sekolah" },
			{ val: "Kepala Tata Usaha", label: "Kepala Tata Usaha" },
			{ val: "Bendahara", label: "Bendahara" },
			{ val: "Operator", label: "Operator" },
			{ val: "Pustakawan", label: "Pustakawan" },
			{ val: "Laboran", label: "Laboran" },
			{ val: "Teknisi", label: "Teknisi" },
			{ val: "Tenaga Administrasi", label: "Tenaga Administrasi" },
			{ val: "Penjaga Sekolah", label: "Penjaga Sekolah" },
			{ val: "Tenaga Kebersihan", label: "Tenaga Kebersihan" },
		]}
	/>

	<InputGroup label="Unit Kerja" name="unit" model="form.pegawai.unitKerja" />

	<div class="grid grid-cols-2 gap-3">
		<InputGroup
			label="Tempat Lahir"
			name="tmplahir"
			model="form.pegawai.tempatLahir"
		/>
		<InputGroup
			label="Tanggal Lahir"
			name="tgllahir"
			model="form.pegawai.tanggalLahir"
			type="date"
		/>
	</div>

	<SelectGroup
		label="Jenis Kelamin"
		name="gender"
		model="form.pegawai.gender"
		options={[
			{ val: "L", label: "Laki-laki" },
			{ val: "P", label: "Perempuan" },
		]}
	/>

	<InputGroup
		label="Pendidikan Terakhir"
		name="pend"
		model="form.pegawai.pendidikan"
		placeholder="S1 - Pendidikan Matematika"
	/>

	<div class="grid grid-cols-2 gap-3">
		<InputGroup
			label="Masa Kerja (Tahun)"
			name="mkt"
			model="form.pegawai.masaKerjaTahun"
			type="number"
		/>
		<InputGroup
			label="Masa Kerja (Bulan)"
			name="mkb"
			model="form.pegawai.masaKerjaBulan"
			type="number"
		/>
	</div>
</div>
